# Environment files
.env

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Temporary directory
tmp/

# OS files
.DS_Store

node_modules/
bin/

# generated tailwind file
server/internal/ui/static/main.css
*_templ.go
